

.ccontainer {
    background-color: #9191E9;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.bbutton {
    text-decoration: none;
    font-size: .875rem;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 1.5rem;
    background-color: #fff;
    color: #9191E9;
    padding: 1rem 2rem;
}

.popup {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    overflow: hiden;
    -webkit-transition: .64s ease-in-out;
    transition: .64s ease-in-out;
}

.popup-inner {
    position: relative;
    bottom: -100vw;
    right: -100vh;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    max-width: 800px;
    max-height: 600px;
    width: 60%;
    height: 80%;
    background-color: #fff;
    -webkit-transform: rotate(32deg);
    transform: rotate(32deg);
    -webkit-transition: .64s ease-in-out;
    transition: .64s ease-in-out;
}

.popup__photo {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    align-items: flex-end;
    width: 40%;
    height: 100%;
    overflow: hidden;
}

    .popup__photo img {
        width: auto;
        height: 100%;
    }

.popup__text {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    width: 60%;
    height: 100%;
    padding: 4rem;
}

    .popup__text h1 {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 2rem;
        text-transform: uppercase;
        color: #0A0A0A;
    }

    .popup__text p {
        font-size: .875rem;
        color: #686868;
        line-height: 1.5;
    }

.popup:target {
    visibility: visible;
    opacity: 1;
}

    .popup:target .popup-inner {
        bottom: 0;
        right: 0;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

.popup__close {
    position: absolute;
    right: -1rem;
    top: -1rem;
    width: 3rem;
    height: 3rem;
    font-size: .875rem;
    font-weight: 300;
    border-radius: 100%;
    background-color: #0A0A0A;
    z-index: 4;
    color: #fff;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.new_footer_area {
    background: #fbfbfd;
}


.new_footer_top {
    padding: 120px 0px 270px;
    position: relative;
    overflow-x: hidden;
}

.new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 50px;
}

.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    padding: 27px 0px;
}

.new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 20px;
}

.new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
}

.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}

.btn_get:hover {
    color: #fff;
    background: #6754e2;
    border-color: #6754e2;
    -webkit-box-shadow: none;
    box-shadow: none;
}

a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
    text-decoration: none;
    outline: none;
}



.new_footer_top .f_widget.about-widget .f_list li a:hover {
    color: #5e2ced;
}

.new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
}

.f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
}

.f_widget.about-widget .f_list li {
    margin-bottom: 15px;
}

.f_widget.about-widget .f_list {
    margin-bottom: 0px;
}

.new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 24px;
}

.f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.ti-facebook:before {
    content: "\e741";
}

.ti-twitter-alt:before {
    content: "\e74b";
}

.ti-vimeo-alt:before {
    content: "\e74a";
}

.ti-pinterest:before {
    content: "\e731";
}

.btn_get_two {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #5e2ced;
    border-color: #5e2ced;
    color: #fff;
}

    .btn_get_two:hover {
        background: transparent;
        color: #5e2ced;
    }

.new_footer_top .f_social_icon a:hover {
    background: #5e2ced;
    border-color: #5e2ced;
    color: white;
}

.new_footer_top .f_social_icon a + a {
    margin-left: 4px;
}

.new_footer_top .f-title {
    margin-bottom: 30px;
    color: #263b5e;
}

.f_600 {
    font-weight: 600;
}

.f_size_18 {
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    color: #4b505e;
}

.new_footer_top .f_widget.about-widget .f_list li a {
    color: #6a7695;
}


.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("http://droitthemes.com/html/saasland/img/seo/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
}

    .new_footer_top .footer_bg .footer_bg_one {
        background: url("https://1.bp.blogspot.com/-mvKUJFGEc-k/XclCOUSvCnI/AAAAAAAAUAE/jnBSf6Fe5_8tjjlKrunLBXwceSNvPcp3wCLcBGAsYHQ/s1600/volks.gif") no-repeat center center;
        width: 330px;
        height: 105px;
        background-size: 100%;
        position: absolute;
        bottom: 0;
        left: 30%;
        -webkit-animation: myfirst 22s linear infinite;
        animation: myfirst 22s linear infinite;
    }

    .new_footer_top .footer_bg .footer_bg_two {
        background: url("https://1.bp.blogspot.com/-hjgfxUW1o1g/Xck--XOdlxI/AAAAAAAAT_4/JWYFJl83usgRFMvRfoKkSDGd--_Sv04UQCLcBGAsYHQ/s1600/cyclist.gif") no-repeat center center;
        width: 88px;
        height: 100px;
        background-size: 100%;
        bottom: 0;
        left: 38%;
        position: absolute;
        -webkit-animation: myfirst 30s linear infinite;
        animation: myfirst 30s linear infinite;
    }



@-moz-keyframes myfirst {
    0% {
        left: -25%;
    }

    100% {
        left: 100%;
    }
}

@-webkit-keyframes myfirst {
    0% {
        left: -25%;
    }

    100% {
        left: 100%;
    }
}

@keyframes myfirst {
    0% {
        left: -25%;
    }

    100% {
        left: 100%;
    }
}
/*************footer End*****************/
/************dnevno meni************/
.main_daily_wrap {
    background: #f4f4f4
}

    .main_daily_wrap .card_lst {
        padding-top: 18px;
        padding-bottom: 25px;

    }

.daily_tab_wrap {
    height: 60px;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    font-size: 0;
    background: #fff;
}

    .daily_tab_wrap .bar {
        height: 14px;
        margin-left: 42px;
        vertical-align: middle;
        background: #eaeaea
    }

    .daily_tab_wrap .btn_more {
        display: inline-block;
        vertical-align: top;
        width: 120px;
        text-align: center;
        font-size: 16px;
        font-family: hind_m,simhei,verdana,Helvetica,sans-serif;
        line-height: 62px;
        background: none;
        color: #838383
    }

        .daily_tab_wrap .btn_more:hover {
            color: #5e2ced
        }

.daily_tab_inner {
    position: relative;
    width: 1110px;
    margin: 0 auto;
    white-space: nowrap;
    padding: 0 70px;

}

.daily_tab {
    display: inline-block;
    vertical-align: middle
}

    .daily_tab li {
        float: left
    }

        .daily_tab li .btn_daily {
            display: inline-block;
            vertical-align: top;
            width: 120px;
            height: 60px;
            line-height: 62px;
            background: none;
            font-size: 19px;
            font-family: hind_m,simhei,verdana,Helvetica,sans-serif;
            text-align: center;
            cursor: pointer;
            color: #000
        }

            .daily_tab li .btn_daily:hover {
                color: #5e2ced
            }

            .daily_tab li .btn_daily span {
                height: 15px;
                margin-top: 12px
            }

        .daily_tab li.on {
            position: relative;
            top: -1px
        }

            .daily_tab li.on .btn_daily {
                height: 62px;
                line-height: 64px;
                background: #5e2ced;
                color: #fff
            }
/************dnevno meni************/

/*Slider CSS*/
.font--robotoslab {
    font-family: 'Roboto Slab', Georgia, serif;
    font-weight: 700;
}

.font--roboto {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 400;
}

.font--lobster {
    font-family: 'Lobster', cursive;
    font-weight: 400;
}

.font--cabin {
    font-family: 'Cabin', Arial, sans-serif;
    font-weight: 400;
}

.font--eczar {
    font-family: 'Eczar', Georgia, serif;
    font-weight: 700;
}

.font--gentium {
    font-family: 'Gentium Basic', Georgia, serif;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

html,
body {

    overflow: auto;
}

body {
    

}

h1 {
    font-size: 3.5em;
    margin: 0;
    font-weight: normal;
}

h2 {
    font-size: 3em;
    margin: 0;
    font-weight: normal;
}

h3 {
    font-size: 2.5em;
    margin: 0;
    font-weight: normal;
}

h4 {
    font-size: 2.125em;
    margin: 0;
    font-weight: normal;
}

h5 {
    font-size: 1.75em;
    margin: 0;
    font-weight: normal;
}

h6 {
    font-size: 1.25em;
    margin: 0;
    font-weight: normal;
}

.bx-viewport {
    overflow: visible !important;
}

.bx-pager {
    margin-top: 20px;
    margin-bottom:20px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #666;
    text-indent: -9999px;
    display: block;
    width: 15px;
    height: 15px;
    margin: 0 10px;
    outline: 0;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

    .bx-wrapper .bx-pager.bx-default-pager a:hover,
    .bx-wrapper .bx-pager.bx-default-pager a.active {
        background: rgba(0, 0, 0, 0.7);
    }

.full-card {
    margin: 0 auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    align-items: stretch;
    padding: 60px;
    height: 80vh;
    max-height: 600px;
    background: white;
    width: 90%;
    max-width: 1300px;
    box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.3), 0 55px 50px -35px rgba(0, 0, 0, 0.3), 0 85px 60px -25px rgba(0, 0, 0, 0.1);
}

.font-card {
    position: relative;
    width: 28%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    background: linear-gradient(45deg, #9fbee6 0%, #dfeaee 100%);
    padding: 20px 20px;
    color: white;
    margin: 0 15px;
    text-align: center;
    box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.3), 0 55px 50px -35px rgba(0, 0, 0, 0.3);
    -webkit-transition: box-shadow 0.3s, -webkit-transform 0.3s;
    transition: box-shadow 0.3s, -webkit-transform 0.3s;
    transition: box-shadow 0.3s, transform 0.3s;
    transition: box-shadow 0.3s, transform 0.3s, -webkit-transform 0.3s;
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

    .font-card.hovered-card {
        box-shadow: 0 5px 3px -5px rgba(0, 0, 0, 0.3), 0 2px 8px -5px rgba(0, 0, 0, 0.3);
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }

    .font-card p {
        line-height: 1.4;
    }

.font-description {
    padding: 0 30px;
    margin: 15px;
    width: 44%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

    .font-description h2 {
        color: #56575e;
    }

        .font-description h2 span {
            color: #d2d2d2;
        }

    .font-description p {
        padding-left: 15px;
        color: #777;
        line-height: 1.8;
    }

        .font-description p:before {
            content: "\2014";
            margin-left: -15px;
            margin-right: 4px;
        }

.explore-button {
    font-size: 0.9em;
    background: white;
    width: 80%;
    color: #a7a7a7;
    display: inline-block;
    padding: 1em;
    margin-top: 2em;
    border-radius: 5em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.3);
    -webkit-transition: color 0.6s, box-shadow 0.3s, -webkit-transform 0.3s;
    transition: color 0.6s, box-shadow 0.3s, -webkit-transform 0.3s;
    transition: color 0.6s, box-shadow 0.3s, transform 0.3s;
    transition: color 0.6s, box-shadow 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

    .explore-button:hover {
        box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.3);
        -webkit-transform: translateY(-1px);
        transform: translateY(-1px);
        color: #6f6f6f;
    }

@media screen and (max-width: 991px) {
    .full-card {
        height: auto;
        flex-wrap: wrap;
        padding: 30px 60px;
    }

    .font-card {
        width: calc(50% - 30px);
    }

    .font-description {
        width: 100%;
    }
}

.robotoslab-card {
    background: url(https://res.cloudinary.com/dqj168cdc/image/upload/v1480286526/Roboto-slab-image_mtwren.jpg) no-repeat center center;
    background-size: cover;
}

.roboto-card {
    background: url(https://res.cloudinary.com/dqj168cdc/image/upload/v1480287191/robot-image_iai6lv.jpg) no-repeat center center;
    background-size: cover;
}

.lobster-card {
    background: url(https://res.cloudinary.com/dqj168cdc/image/upload/v1480349796/lobster-image_pznrao.jpg) no-repeat center center;
    background-size: cover;
}

.cabin-card {
    background: url(https://res.cloudinary.com/dqj168cdc/image/upload/v1480350297/cabin-image_dqxlwi.jpg) no-repeat center center;
    background-size: cover;
}

.eczar-card {
    background: url(https://res.cloudinary.com/dqj168cdc/image/upload/v1480522564/turtle-image_nblim1.jpg) no-repeat center center;
    background-size: cover;
}

.gentium-card {
    background: url(https://res.cloudinary.com/dqj168cdc/image/upload/v1480522983/penguin-image_dufrwg.jpg) no-repeat center center;
    background-size: cover;
}
