.new_footer_area {
    background: #fbfbfd;
}


.new_footer_top {
    padding: 120px 0px 270px;
    position: relative;
    overflow-x: hidden;
}

.new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 50px;
}

.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    padding: 27px 0px;
}

.new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 20px;
}

.new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
}

.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}

.btn_get:hover {
    color: #fff;
    background: #6754e2;
    border-color: #6754e2;
    -webkit-box-shadow: none;
    box-shadow: none;
}

a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
    text-decoration: none;
    outline: none;
}



.new_footer_top .f_widget.about-widget .f_list li a:hover {
    color: #5e2ced;
}

.new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
}

.f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
}

.f_widget.about-widget .f_list li {
    margin-bottom: 15px;
}

.f_widget.about-widget .f_list {
    margin-bottom: 0px;
}

.new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 24px;
}

.f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.ti-facebook:before {
    content: "\e741";
}

.ti-twitter-alt:before {
    content: "\e74b";
}

.ti-vimeo-alt:before {
    content: "\e74a";
}

.ti-pinterest:before {
    content: "\e731";
}

.btn_get_two {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #5e2ced;
    border-color: #5e2ced;
    color: #fff;
}

    .btn_get_two:hover {
        background: transparent;
        color: #5e2ced;
    }

.new_footer_top .f_social_icon a:hover {
    background: #5e2ced;
    border-color: #5e2ced;
    color: white;
}

.new_footer_top .f_social_icon a + a {
    margin-left: 4px;
}

.new_footer_top .f-title {
    margin-bottom: 30px;
    color: #263b5e;
}

.f_600 {
    font-weight: 600;
}

.f_size_18 {
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    color: #4b505e;
}

.new_footer_top .f_widget.about-widget .f_list li a {
    color: #6a7695;
}


.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("http://droitthemes.com/html/saasland/img/seo/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
}

    .new_footer_top .footer_bg .footer_bg_one {
        background: url("https://1.bp.blogspot.com/-mvKUJFGEc-k/XclCOUSvCnI/AAAAAAAAUAE/jnBSf6Fe5_8tjjlKrunLBXwceSNvPcp3wCLcBGAsYHQ/s1600/volks.gif") no-repeat center center;
        width: 330px;
        height: 105px;
        background-size: 100%;
        position: absolute;
        bottom: 0;
        left: 30%;
        -webkit-animation: myfirst 22s linear infinite;
        animation: myfirst 22s linear infinite;
    }

    .new_footer_top .footer_bg .footer_bg_two {
        background: url("https://1.bp.blogspot.com/-hjgfxUW1o1g/Xck--XOdlxI/AAAAAAAAT_4/JWYFJl83usgRFMvRfoKkSDGd--_Sv04UQCLcBGAsYHQ/s1600/cyclist.gif") no-repeat center center;
        width: 88px;
        height: 100px;
        background-size: 100%;
        bottom: 0;
        left: 38%;
        position: absolute;
        -webkit-animation: myfirst 30s linear infinite;
        animation: myfirst 30s linear infinite;
    }



@-moz-keyframes myfirst {
    0% {
        left: -25%;
    }

    100% {
        left: 100%;
    }
}

@-webkit-keyframes myfirst {
    0% {
        left: -25%;
    }

    100% {
        left: 100%;
    }
}

@keyframes myfirst {
    0% {
        left: -25%;
    }

    100% {
        left: 100%;
    }
}
/*************footer End*****************/
/************dnevno meni************/
.main_daily_wrap {
    background: #f4f4f4
}

    .main_daily_wrap .card_lst {
        padding-top: 18px;
        padding-bottom: 25px;

    }

.daily_tab_wrap {
    height: 60px;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    font-size: 0;
    background: #fff;
}

    .daily_tab_wrap .bar {
        height: 14px;
        margin-left: 42px;
        vertical-align: middle;
        background: #eaeaea
    }

    .daily_tab_wrap .btn_more {
        display: inline-block;
        vertical-align: top;
        width: 120px;
        text-align: center;
        font-size: 16px;
        font-family: hind_m,simhei,verdana,Helvetica,sans-serif;
        line-height: 62px;
        background: none;
        color: #838383
    }

        .daily_tab_wrap .btn_more:hover {
            color: #5e2ced
        }

.daily_tab_inner {
    position: relative;
    width: 1110px;
    margin: 0 auto;
    white-space: nowrap;
    padding: 0 70px;

}

.daily_tab {
    display: inline-block;
    vertical-align: middle
}

    .daily_tab li {
        float: left
    }

        .daily_tab li .btn_daily {
            display: inline-block;
            vertical-align: top;
            width: 120px;
            height: 60px;
            line-height: 62px;
            background: none;
            font-size: 19px;
            font-family: hind_m,simhei,verdana,Helvetica,sans-serif;
            text-align: center;
            cursor: pointer;
            color: #000
        }

            .daily_tab li .btn_daily:hover {
                color: #5e2ced
            }

            .daily_tab li .btn_daily span {
                height: 15px;
                margin-top: 12px
            }

        .daily_tab li.on {
            position: relative;
            top: -1px
        }

            .daily_tab li.on .btn_daily {
                height: 62px;
                line-height: 64px;
                background: #5e2ced;
                color: #fff
            }
/************dnevno meni************/

/*Slider CSS*/
.main {
    width: 100%;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.slider {
    width: 80rem;
    height: 35rem;
    box-shadow: 5px 5px 50px 15px rgba(0, 0, 0, 0.1);
    display: flex;
}

.slider__img {
    width: 40%;
    height: 100%;
    background-color: #333;
    overflow: hidden;
    position: relative;
}


.slider__text {
    height: 50%;
    width: 50%;
    position: relative;
    overflow: hidden;
}

.slider__title {
    font-size: 3rem;
    margin: 3rem 3rem;
}

.slider__content {
    overflow: hidden;
    position: relative;
}

.slider__descr {
    font-family: sans-serif;
    font-size: 1.2rem;
    margin-right: 5rem;
    margin-left: 5rem;
    letter-spacing: 1px;
    line-height: 1rem;
}

.slider__button {
    font-size: 1.3rem;
    margin-top: 6rem;
    margin-left: 13rem;
    position: relative;
    overflow: hidden;
}

.btn_s {
    text-decoration: none;
    color: #da566f;
    border-bottom: 1px solid #da566f;
}

.button {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 40rem;
    top: 20rem;
    left: 9rem;
}

.button__switch_left {
    float: left;
    width: 50%;
    text-align: right;
}

.button__switch_right {
    float: right;
    width: 50%;
    text-align: right;
}


.button__switch_next {
    transform: rotate(180deg)
}

.button__slider {
    width: 3rem;
    height: 2px;
    background-color: #BBBCCB;
    position: relative;
    transition: .2s all;
}

    .button__slider::before, .button__slider::after {
        content: '';
        position: absolute;
        width: 1rem;
        height: 2px;
        background-color: #BBBCCB;
        transition: .2s background;
    }

    .button__slider::before {
        top: -3px;
        left: -1px;
        transform: rotate(-40deg)
    }

    .button__slider::after {
        top: 3px;
        left: -1px;
        transform: rotate(40deg)
    }

.button__switch:hover > .button__slider {
    background-color: #333;
}

    .button__switch:hover > .button__slider::before {
        background-color: #333;
    }

    .button__switch:hover > .button__slider::after {
        background-color: #333;
    }

.button__switch:hover {
    cursor: pointer;
}

.hidden-title {
    width: 100%;
    height: 23rem;
    background-color: #fff;
    position: absolute;
    top: 0;
    transform: translateY(-110%);
    transition: .3s transform;
}



.hidden-descr {
    width: 100%;
    height: 20rem;
    background-color: #fff;
    position: absolute;
    top: 0;
    transform: translateY(-110%);
    transition: 0.8s transform;
}

.hidden__img {
    width: 100%;
    height: 107%;
    background-color: #fff;
    transform: translateY(-110%);
    transition: .5s transform;
    position: absolute;
    top: 0;
    z-index: 100;
}

.hidden-button {
    width: 100%;
    height: 5rem;
    background-color: #fff;
    position: absolute;
    top: 0;
    transform: translateY(-110%);
    transition: transform 1s;
}

.image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 30% center;
    position: absolute;
}

.dribble {
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: 1rem;
    bottom: 4rem;
}

.dribbble-icon {
    width: 4rem;
    height: 4rem;
}

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 1070px) {
    html {
        font-size: 52%;
    }
}

@media (max-width: 1000px) {
    html {
        font-size: 45%;
    }

    .button__slider::before, .button__slider::after {
        left: 0;
    }
}

@media (max-width: 880px) {
    html {
        font-size: 37%;
    }
    }
